### ipynb -> Interactive python notebook

* esc+ m -> to  convert coding cell into markdown cell
* esc+ y -> to convert markdown cell into coding cell

In [2]:
a=input("enter a value:")

enter a value:78

In [3]:
type(a)

str

In [4]:
b=int(input("enter a value:"))

enter a value:45

In [5]:
print(b)
print(type(b))

45
<class 'int'>

### data types 
    * int,float,string,complex
    
### Variable
    * name given to memory location to hold data of any type

In [6]:
a=89      # dynamic typed
print(a)
print(type(a))

89
<class 'int'>

In [7]:
b=90.8
print(b)
print(type(b))

90.8
<class 'float'>

In [9]:
name='shiva'
dept="CSE"

print(type(name))
print(type(dept))

<class 'str'>
<class 'str'>

In [10]:
d=1+9j
type(d)

complex

* list,tuple,dictionaries,sets

### operators

* Arithmetic operators
* logical operators
* comparison operators
* assignment operators
* bitwise operators
* identity operators
* membership operators

### Arithmetic operators (+,-,/,*,//,%,**)

In [17]:
a=10
b=90
print(a+b)
print(b-a)
print(a*b)
print(a/b)  
print(a//b)  # floor division
print(a%b)
print(2**3)

100
80
900
0.1111111111111111
0
10
8

### Logical operators -> and, or,not

In [18]:
# and -> returns true when both statements are true

a=90
a>10 and a<100

True

In [19]:
# or  -> returns true if one of the  statement is true

a>20 or a<70  # true or false

True

In [20]:
# not -> reverse the result ,returns false if the result is true and vice versa

b=100
b>90

True

In [21]:
not(b>90)

False

### Comparison operators ==,!=,>,<,>=,<=

In [22]:
x=90
y=89
x>y

True

In [23]:
x<y

False

In [24]:
x==y

False

In [25]:
x!=y

True

In [26]:
x=90
y=89
x>=y

True

In [29]:
x=67
y=90
x<=y

True

In [30]:
x=67
y=67
x<=y

True

### Identity operators  
* to tests 2 operands shares an identity
* is ,is not

In [31]:
x=90
x is 90

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\meena\AppData\Local\Temp\ipykernel_12720\1855993152.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 90

True

In [32]:
x is not 90

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\meena\AppData\Local\Temp\ipykernel_12720\773863451.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 90

False

### Membership operator 
* tests whether a value is in the given sequence or not
* in , not in

In [33]:
name="gayatri"
print('g' in name)

True

In [34]:
print('y' in name)

True

In [35]:
print('k' in name)

False

In [36]:
print('k' not in name)

True