### Tuple:
- It is collection of different data types in a single variable.
- By using round brackets we can write the tuple i.e, ()
- tuple is immutable(can't changable)
- tuple index starts from 0 to size-1.
- To create the empty tuple.-> tuple()
- To access the tuple values based on index position.

In [2]:
# To create the empty tuple..
t1 = tuple()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
# To store the multiple data into a tuple..
t1 =(10,20,'apssdc',45.6,50)
print(t1)

(10, 20, 'apssdc', 45.6, 50)

In [6]:
# To store the single data into a tuple?
t2=(100,)
print(t2)
print(type(t2))

(100,)
<class 'tuple'>

In [12]:
# TO access the tuple values
# indexing and slicing
t3 = (10,20,30,'apssdc',45.6,80)
print(t3)
print(t3[2])
print(t3[::-1])
print(t3[-3])
print(t3[::2]) # To print the alternative elements

(10, 20, 30, 'apssdc', 45.6, 80)
30
(80, 45.6, 'apssdc', 30, 20, 10)
apssdc
(10, 30, 45.6)

In [14]:
# using forloop to print the tuple values.
for i in t3:
    print(i,end=" ")

10 20 30 apssdc 45.6 80

In [15]:
# TO print the tuple length?
print(len(t3))

6

In [16]:
# tuple methods:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [23]:
# To update the tuple element?
print(t3)
# step1: need to convert the tuple into list
t3 = list(t3)
print(t3)
t3[2]='python'
print(t3)
# step2 : need to convert the list into tuple()
t3 = tuple(t3)
print(t3)

[10, 20, 'python', 'apssdc', 45.6, 80]
[10, 20, 'python', 'apssdc', 45.6, 80]
[10, 20, 'python', 'apssdc', 45.6, 80]
(10, 20, 'python', 'apssdc', 45.6, 80)

In [25]:
# count():
print(t3)
print(t3.count(20))

(10, 20, 'python', 'apssdc', 45.6, 80)
1

In [27]:
#index():
print(t3)
print(t3.index('apssdc'))

(10, 20, 'python', 'apssdc', 45.6, 80)
3

### Dicitonary:
- It is collection different data type in the form of keys and value pairs.
- By using curly brackets we can write the diciotnary.
- Here keynames are unique, means dupliaction keynames are not allowed.
- It is unordered data structure.
- By using keyname we can access the diciotnary of data.
- Here keyname:value means it is one item-> ex: {keyname:value}
- To create the empty diciotnary, using dict() method.

In [28]:
# TO create the empty diciotnary..
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [30]:
# To create the diciotnary with some data.
d2 = {'Name':'aadyan','Rno':510,'Branch':'Cse'}
print(d2)
print(type(d2))

{'Name': 'aadyan', 'Rno': 510, 'Branch': 'Cse'}
<class 'dict'>

In [31]:
d3 ={'Name':'ganesh','Rno':534,'Name':'aadyan'}
# duplication keynames are not allowed.
print(d3)

{'Name': 'aadyan', 'Rno': 534}

In [34]:
# To update the dicitonary of data..
print(d2)
d2['Rno']=423
print(d2)
d2['Marks']=67
print(d2)

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse'}
{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse'}
{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}

In [37]:
# To access the diciotnary of data using keyname..
print(d2)
print(d2['Branch'],d2['Name'])

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}
Cse aadyan

### dictionary methods:

In [38]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [40]:
# get():
# To print the value from a dictionary using keyname.
# syntax: dictname.get(keyname)
print(d2)
print(d2.get('Marks'))

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}
67

In [41]:
# keys():
# To print the all keynames from a diciotnary, in the format list.
# syntax: dictname.keys()
print(d2.keys())

dict_keys(['Name', 'Rno', 'Branch', 'Marks'])

In [42]:
# values():
# It returns a list of all the values in the diciotnary.
# syntax: dictname.values()
print(d2.values())

dict_values(['aadyan', 423, 'Cse', 67])

In [43]:
# items():
# It returns the list containing a tuple for each key value pair.
print(d2.items())

dict_items([('Name', 'aadyan'), ('Rno', 423), ('Branch', 'Cse'), ('Marks', 67)])

In [45]:
# copy():
# To copy the data from one diciotnary to another diciotnary.
print(d2)
d5 = d2.copy()
print(d5)

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}
{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}

In [48]:
#update():
# To add the new item to the diciotnary.
# syntaX: dictname.update({'keyname':'value'})
print(d2)
d2.update({'course':'Data Analysis'})
print(d2)

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67, 'course': 'Data Analysis'}
{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67, 'course': 'Data Analysis'}

In [58]:
# setdefault():
# To update the data into a diciotnary.
# syntax: dicname.setdefault('keyname','value')
print(d2)
# To update the branch
print(d5)

Cse
{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}

In [61]:
print(d5.setdefault('Marks',100))

67

In [63]:
print(d5)
print(d5.setdefault('color','pink'))

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67}
pink

In [64]:
print(d5)

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67, 'color': 'pink'}

In [68]:
d1 = d5.setdefault('Rno')
print(d1)

423

In [67]:
d5

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'Cse', 'Marks': 67, 'color': 'pink'}

In [69]:
d5.update({'Branch':'EEE'})
d5

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'EEE', 'Marks': 67, 'color': 'pink'}

In [71]:
#pop():
# TO delete the item with specific keyname.
# synatx: dictname.pop('keyname')
print(d5)
d5.pop('Rno')
print(d5)

{'Name': 'aadyan', 'Rno': 423, 'Branch': 'EEE', 'Marks': 67, 'color': 'pink'}
{'Name': 'aadyan', 'Branch': 'EEE', 'Marks': 67, 'color': 'pink'}

In [73]:
# popitem():
# TO delete the last item from a dicitonary..
# syntax: dictname.popitem()
print(d5)
d5.popitem()
print(d5)

{'Name': 'aadyan', 'Branch': 'EEE', 'Marks': 67, 'color': 'pink'}
{'Name': 'aadyan', 'Branch': 'EEE', 'Marks': 67}

In [74]:
# fromkeys():
# To create the new diciotnary with keynames.
# syntax: dict.fromkeys(['keyname1','keyname2'...])
d4 = dict.fromkeys(['Name','Age','Aadhar','District'])
print(d4)

{'Name': None, 'Age': None, 'Aadhar': None, 'District': None}

In [75]:
d4['Name']='krishna'
d4

{'Name': 'krishna', 'Age': None, 'Aadhar': None, 'District': None}

In [77]:
# clear()
# it returns the empty diciotnary
print(d5)
d5.clear()
print(d5)

{'Name': 'aadyan', 'Branch': 'EEE', 'Marks': 67}
{}