### Data Analysis with Pandas:
- Pandas Introduction:
    - PANDAS Stands for 'Python Data Analysis Library'.
    - It is a open Source Library.
    - It ia mainly used for Data analysis and Data manipulations.
- Types of pandas data structures:
    - 1. Series Data Structure
    - 2. DataFrame Data Structure
- 1. Series:
      - It is mainly used for to create the 1-d array with named index.
- 2. DataFrame:
       - It is mainly used for to create the 2-d array in the format of rows and columns.
- By using pandas we read the large amount of data like .excel,.csv,tabular.. etc
- 1. How to installing and importing pandas?
- syntax: pip install pandas
- 2. Jupyter notebook:
- syntax: import pandas as pd

### Series Data Structure:
- To create the series Data structure using list,tuple,diciotnary and also numpy 1-d array.
- syntax:
        pandas.Series(list,tuple,dict,numpy)
- **The number of elements in the index list is always equal to the number of elements in the specified series**.

In [2]:
# To import the pandas 
import pandas as pd

In [3]:
# To create the series data structure using list?
L1 = [10,20,30,40]
s1 = pd.Series(L1)
print(s1)
print(type(s1))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# To change the index names
s1.index=['A','B','C','D']
print(s1)

A    10
B    20
C    30
D    40
dtype: int64

In [8]:
# To create the series with index names...
sd1 = pd.Series([10,20,'python',30],index=['a1','b1','c1','d1'])
print(sd1)
print(type(sd1))

a1        10
b1        20
c1    python
d1        30
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
# To create the series using diciotnary?
d1 ={'Name':'aadyan','Rollno':423,'Branch':'ECE'}
s3 = pd.Series(d1)
print(s3)

Name      aadyan
Rollno       423
Branch       ECE
dtype: object

In [10]:
# To create the series with tuple
s2 = pd.Series((10,20,30))
print(s2)

0    10
1    20
2    30
dtype: int64

In [11]:
import numpy as np

In [12]:
# To create the series using numpy array..
n1 = np.array([10,20,30])
sd3 = pd.Series(n1)
print(sd3)

0    10
1    20
2    30
dtype: int32

### Series indexing:
- To get the data from a series.
- To access the values from a series using index names.

In [13]:
sd1 = pd.Series([10,20,30,'python',45.6])
print(sd1)

0        10
1        20
2        30
3    python
4      45.6
dtype: object

In [14]:
# TO access the series values..
print(sd1[1])

20

In [15]:
print(sd1[::2])
# To get the alternative rows

0      10
2      30
4    45.6
dtype: object

In [16]:
print(sd1[::-1])

4      45.6
3    python
2        30
1        20
0        10
dtype: object

In [17]:
print(sd1[3:])

3    python
4      45.6
dtype: object