### Comprehension:
- Comprehension in python to provide short and easy to create the new sequences such as like(list,dictionary,set).
- Types of comprehension:
- 1. List comprehension
- 2. Dictionary comprehension
- 3. Set comprehension

#### 1. List Comprehension:
- To create the new list from other iterables.
- syntax:
variable_name = [output_expression forloop if(condition)]

In [1]:
# To generate the list with 1 to 10 natural numbers?
# output: L2 =[1,2,3,4,5,6,7,8,9,10]
L2 = []
for i in range(1,11):
    L2.append(i)
print(L2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# TO generate the list with 1 to 10 natural numbers using list comprehension?
L3 = [i for i in range(1,11)]
print(L3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# To print the even natural numbers using list comprehension 1 to 25?
L2 = []
for i in range(1,25):
    if i%2 == 0:
        L2.append(i)
print(L2)
print([i for i in range(1,25) if i%2==0])
print([i for i in range(2,25,2)]) # using steping value..

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

#### Dictionary Comprehension:
- To create the new diciotnary with other iterables.
- syntax:
variable_name = {keyname:value forloop if(condition)}

In [6]:
# To generate the 1 to 10 squares with out using DC?
# output: {1:1,2:4,3:9....10:100}
d1 = {}
for i in range(1,11):
    d1[i]=i*i
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
# To generate the 1 to 10 squares with using DC?
d2 = {i:i*i for i in range(1,11)}
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
L1 = ['apple','banana','orange','mango']
# output: {'apple':'APPLE','banana':'BANANA','orange':'ORANGE'}
d2 = {i:i.upper() for i in L1}
print(d2)

{'apple': 'APPLE', 'banana': 'BANANA', 'orange': 'ORANGE', 'mango': 'MANGO'}

In [11]:
# To print the character frequency using DC?
s1 = "apssdc welcome to data analysis internship"
# output: {'a':5,'p':2...}
d3 = {i:s1.count(i) for i in s1}
print(d3)

{'a': 5, 'p': 2, 's': 5, 'd': 2, 'c': 2, ' ': 5, 'w': 1, 'e': 3, 'l': 2, 'o': 2, 'm': 1, 't': 3, 'n': 3, 'y': 1, 'i': 3, 'r': 1, 'h': 1}

#### set():
- To create the new set from other iterables.
- syntax:
variable_name = {output_expression for loop condition}

In [12]:
# To create the new set with 1 to 20 natural numbers?
s1 = {i for i in range(1,21)}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [13]:
L1=[10,20,30,10,20,30,40,10]
# To print the unique values using set comprehension?
s2 = {i for i in L1}
print(s2)

{40, 10, 20, 30}

In [15]:
t3 = tuple(i for i in range(1,11))
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)