### programs on diciotnaries:

In [2]:
L1 = ['apple','banana','mango','orange']
# output: {'apple':APPLE,'banana':'BANANA'....}
d1 = {}
for i in L1:
    d1[i]=i.upper()
print(d1)

{'apple': 'APPLE', 'banana': 'BANANA', 'mango': 'MANGO', 'orange': 'ORANGE'}

In [4]:
# To print the element frequency from a list?
L2 = [10,20,30,10,20,30,40]
# output: {10:2,20:2,30:2,40:1}
d2={}
for i in L2:
    d2[i]=L2.count(i)
print(d2)

{10: 2, 20: 2, 30: 2, 40: 1}

In [5]:
#TO print the character frequency of a given string?
s="python programming python"
# output: {'p':3...}
d3={}
for i in s:
    d3[i]=s.count(i)
print(d3)

{'p': 3, 'y': 2, 't': 2, 'h': 2, 'o': 3, 'n': 3, ' ': 2, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

In [13]:
d1={1:23,2:44,3:100,4:67,5:20,6:40}
# To print the only even values items?
# output: {2:44,3:100,5:20,6:40}
d3 = {}
for i,j in d1.items(): # here i->keyname,j->value
    if j%2 == 0:
        d3.update({i:j})
print(d3)

{2: 44, 3: 100, 5: 20, 6: 40}

In [11]:
for i in d1.values():
    if i%2==0:
        print(d1.items())

dict_items([(1, 23), (2, 44), (3, 100), (4, 67), (5, 20), (6, 40)])
dict_items([(1, 23), (2, 44), (3, 100), (4, 67), (5, 20), (6, 40)])
dict_items([(1, 23), (2, 44), (3, 100), (4, 67), (5, 20), (6, 40)])
dict_items([(1, 23), (2, 44), (3, 100), (4, 67), (5, 20), (6, 40)])

In [12]:
d4={1:34,2:56,3:45,4:57,5:78,6:22}
l=d4.keys()
d5=dict()
for i in l:
    if(d4[i]%2 ==0):
        d5[i]=d4[i]
print(d5)

{1: 34, 2: 56, 5: 78, 6: 22}

In [19]:
d1={1:23,2:44,3:100,4:67,5:20,6:40}
# To print the only even values items?
# output: {2:44,3:100,5:20,6:40}
d3={}
for i in d1:
    if d1[i]%2 == 0:
        d3[i]=d1[i]
print(d3)

{2: 44, 3: 100, 5: 20, 6: 40}

In [20]:
# TO store the multiple records into a dicitonary?
d1 = {'Name':['Nani','nethra','narmada'],
      'Rollno':[510,234,410],
      'Branch':['CSE','EEE','ECE']}
print(d1)

{'Name': ['Nani', 'nethra', 'narmada'], 'Rollno': [510, 234, 410], 'Branch': ['CSE', 'EEE', 'ECE']}

In [22]:
# TO print the only names
print(d1["Name"])
print(d1['Name'][1])

['Nani', 'nethra', 'narmada']
nethra

### sets:
- It is a collection different data types.
- It is unordered and unindexed set.
- By using curly brackets we can write the sets ->{}
- It doesn't allow the dupliaction.
- It can't access the data from a set.
- can't update the set data but we can add the new data.

In [24]:
# TO create the empty set?
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [25]:
# To store the multiple values to the set?
s2 = {10,20,30,10,40,20}
print(s2)

{40, 10, 20, 30}

In [27]:
# to print the set values using forloop?
print(s2)
for i in s2:
    print(i,end=" ")

{40, 10, 20, 30}
40 10 20 30

In [29]:
# TO print the unique elements from alist?
L1 = [10,20,10,20,30,10,40,30,50]
L2 =[]
for i in L1:
    if i not in L2:
        L2.append(i)
print(L2)
print(set(L1))

[10, 20, 30, 40, 50]
{40, 10, 50, 20, 30}

- set methods:

In [30]:
# To print the set methods?
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [33]:
# add():
# TO add the new element to the set.
# syntax: set_name.add(element)
print(s2)
s2.add('apssdc')
print(s2)
s2.add(200)
print(s2)

{'apssdc', 40, 10, 20, 30}
{'apssdc', 40, 10, 20, 30}
{'apssdc', 40, 200, 10, 20, 30}

In [35]:
# update():
# To add the multiple elements at a time.
# syntax: setname.update([element1,element2...])
print(s2)
s2.update([11,34,'python',45.6])
print(s2)

{'apssdc', 40, 200, 10, 20, 30}
{34, 'python', 'apssdc', 40, 200, 10, 11, 45.6, 20, 30}

In [37]:
# copy ():
# To copy the data from one set to another set
# syntax: new_setname = old_setname.copy()
print(s2)
s3 = s2.copy()
print(s3)

{34, 'python', 'apssdc', 40, 200, 10, 11, 45.6, 20, 30}
{34, 'python', 'apssdc', 40, 200, 10, 11, 45.6, 20, 30}

In [40]:
# remove():
# To remove the element from a set.
# syntax: setname.remove(element)
print(s2)
s2.remove(200)
print(s2)

{34, 'python', 'apssdc', 40, 200, 10, 11, 45.6, 20, 30}
{34, 'python', 'apssdc', 40, 10, 11, 45.6, 20, 30}

In [45]:
# discard():
# setname.discard(element)
print(s2)
s2.discard(40)
print(s2)
s2.discard(40)
print(s2)
s2.remove(40)
print(s2)

{34, 'python', 'apssdc', 10, 11, 45.6, 20, 30}
{34, 'python', 'apssdc', 10, 11, 45.6, 20, 30}
{34, 'python', 'apssdc', 10, 11, 45.6, 20, 30}

KeyError: 40

In [49]:
# pop():
# It delete the first elemet from a set.
# syntax: setname.pop()
print(s2)
s2.pop()
print(s2)
s2.pop()
print(s2)

{'python', 'apssdc', 10, 11, 45.6, 20, 30}
{'apssdc', 10, 11, 45.6, 20, 30}
{10, 11, 45.6, 20, 30}

In [52]:
# union():
# a set that contains all items from both sets.
s1={1,2,3}
s2={'a','b','c',1}
s3 = s1.union(s2)
print(s3)

{'c', 1, 2, 3, 'a', 'b'}

In [53]:
# intersection_update():
# The items that are present in both set.
x = {'apple','mango','banana'}
Y = {'srit','mango','VVit','banana'}
x.intersection_update(Y)
print(x)

{'banana', 'mango'}