In [1]:
import pandas as pd

In [2]:
sd1 = pd.Series([10,20,'python',30,44,45.6])
print(sd1)

0        10
1        20
2    python
3        30
4        44
5      45.6
dtype: object

### Updation:

In [4]:
print(sd1)
# using index names we can update the series data..
sd1[0]='apssdc'
print(sd1)

0        10
1        20
2    python
3        30
4        44
5      45.6
dtype: object
0    apssdc
1        20
2    python
3        30
4        44
5      45.6
dtype: object

- replace():
    - Uisng replace method to update the series data.
    - syntax:
        - sd.replace(to_replace=old_value,value=new_value)

In [6]:
# using replace method:
print(sd1)
sd1 = sd1.replace(to_replace='python',value=34.5)
print(sd1)

0    apssdc
1        20
2    python
3        30
4        44
5      45.6
dtype: object
0    apssdc
1        20
2      34.5
3        30
4        44
5      45.6
dtype: object

In [7]:
sd1 = sd1.replace(20,'java')
sd1

0    apssdc
1      java
2      34.5
3        30
4        44
5      45.6
dtype: object

In [9]:
# To update the multiple data at a time.
sd1 = sd1.replace([30,44],[100,200])
sd1

0    apssdc
1      java
2      34.5
3       100
4       200
5      45.6
dtype: object

In [10]:
sd1 = sd1.replace(to_replace=[100,200],value=['clanguage','python'])
sd1

0       apssdc
1         java
2         34.5
3    clanguage
4       python
5         45.6
dtype: object

### delete the data in a series:

In [11]:
print(sd1)

0       apssdc
1         java
2         34.5
3    clanguage
4       python
5         45.6
dtype: object

- drop():-
    - using drop() method we can delete the data from a series.
    - using index name we can delete the data.
    - syntax:
        sd.drop(labels=list_data,inplace=True)

In [12]:
print(sd1)

0       apssdc
1         java
2         34.5
3    clanguage
4       python
5         45.6
dtype: object

In [14]:
# To delete the data from a series?
# single value deletion
sd1.drop(labels=0,inplace=True)
sd1

1         java
2         34.5
3    clanguage
4       python
5         45.6
dtype: object

In [15]:
# To delete the multiple values from a series?
sd1.drop(labels=[1,5],inplace=True)
sd1

2         34.5
3    clanguage
4       python
dtype: object

In [17]:
sd1.drop(labels=6,inplace=True)
sd1

KeyError: '[6] not found in axis'

- Task1:
- To create the series having index values starts from 10 to 20 and values are squares of index values?
ex: 10  100
    11  121

In [26]:
l=[]
l2=[]
for i in range(10,21):
    l.append(i**2)
    l2.append(i)
s2=pd.Series(l,l2)
print(s2)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [33]:
import numpy as np
index_values= np.array(range(10,21))
#print(index_values)
values = [i*i for i in range(10,21)]
#print(values)
sd2 = pd.Series(values,index_values)
sd2

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [36]:
# fancy indexing:
# To get the specific index names data.
sd2[[10,17,13]]

10    100
17    289
13    169
dtype: int64

In [42]:
# To add the new record to the series data structure.
print(sd1)
sd1=sd1.append(pd.Series([100,200],ignore_index=True))
sd1

2         34.5
3    clanguage
4       python
0          100
1          200
dtype: object

TypeError: __init__() got an unexpected keyword argument 'ignore_index'

In [43]:
print(sd1)

2         34.5
3    clanguage
4       python
0          100
1          200
dtype: object

In [47]:
sd1 = sd1.append(pd.Series([11,22]),ignore_index=True)
sd1

0          34.5
1     clanguage
2        python
3           100
4           200
5          java
6           300
7          java
8           300
9            11
10           22
dtype: object

### pandas DataFrame:
- DataFrame is used to store the data in the form of rows and columns.
- It is similar to 2-D array.
- To create the DataFrame using Dictionary,2-D numpy array.
- To read the .csv,.excel...
- To import the pandas as pd.
- syntax:
      pd.DataFrame(diciotnary/numpy 2-D array)

In [50]:
# To create the DataFrame using dictionary?
d1 = {'Name':['Mani','Aadyan','nethra'],
      'Rno':[420,510,346],
      'Branch':['Cse','Ece','Eee']}
df= pd.DataFrame(d1)
df

     Name  Rno Branch
0    Mani  420    Cse
1  Aadyan  510    Ece
2  nethra  346    Eee

In [54]:
# TO create the DataFrame using numpy 2-d array.
n1 = np.array([[1,2,3],[4,5,6]])
df1 = pd.DataFrame(n1)
df1
#type(df1)

   0  1  2
0  1  2  3
1  4  5  6

In [55]:
# To print the dataframe column names...
df.columns

Index(['Name', 'Rno', 'Branch'], dtype='object')

In [56]:
# To print the all row data from a dataframe.
df.values

array([['Mani', 420, 'Cse'],
       ['Aadyan', 510, 'Ece'],
       ['nethra', 346, 'Eee']], dtype=object)

In [57]:
# To print the number of rows?
print(len(df))

3

In [58]:
# To get the number of rows and columns?
df.shape

(3, 3)