In [1]:
#count():
# The number of times a specified value occurs in a string.
s1 = 'python programming'
print(s1.count('p'))

2

In [2]:
# To count the sub string..
s2 ='apssdc data analysis apssdc programs'
print(s2.count('sdc'))

2

In [7]:
# index():
# It returns the index position of a specific character.
s1='apssdc'
print(s1.index('p'))
#print(s1.index('z'))
print(s1.index('s')) # first occurences index position
print(s1.rindex('s')) # Last occurences index position

1
2
3

In [11]:
# replace():
# To replace the any character.
s1 = 'apssdc'
print(s1.replace('a','y'))

ypssdc

In [14]:
#strip():
# It removes the white spaces.. right side and left side
s1='    DA internship    '
print(s1.strip())
print(s1.lstrip()) # Remove the left side space
print(s1.rstrip()) # remove the right side space

DA internship
DA internship
    DA internship

In [16]:
s1='apssdc'
s2='t'
print(s1.replace('s',s2))
print(s1.replace('sdc','tcs'))

apttdc
apstcs

In [17]:
# spilt():
# Spilt the string at the specified separator.
# and it returns data in the format of list.
# To convert the string data into words.
s1 ='welcome to data analysis internship program for batch2 students'
print(s1.split()) #

['welcome', 'to', 'data', 'analysis', 'internship', 'program', 'for', 'batch2', 'students']

In [21]:
s1 ='welcome,to,data,analysis,internship,program,for,batch2,students'
print(s1.split(','))
print(len(s1.split(',')))

['welcome', 'to', 'data', 'analysis', 'internship', 'program', 'for', 'batch2', 'students']
9

In [23]:
#join():
# To join the data to given string.
s1 = 'apssdc'
s2='python'
s2.join(s1)

'apythonppythonspythonspythondpythonc'

In [24]:
print('#'.join('sdc'))

s#d#c

In [28]:
# isalpha():
# It will check the given string having all characters alphebets or not?
# It returns the True or False.
s1='apssdc'
print(s1.isalpha())
print('apsdc@123'.isalpha())

True
False

In [30]:
#isdigit():
# only string having digits
s1='1234'
print(s1.isdigit())
print('sdc123 python'.isdigit())

True
False

In [32]:
#isalnum():
# combination of alphabets and digits.
s1='sdc123'
print(s1.isalnum())
print('sdc 123'.isalnum())

True
False

In [38]:
#islower():
# only small alphabets
s1='apssdc @123'
print(s1.islower())
print(' sdc123'.islower())

True
True

In [39]:
#isupper():
s1 ='PYTHON SDC123@'
print(s1.isupper())

True

In [42]:
#isspace()
s1='   '
print(s1.isspace())

True

In [44]:
# startswith()
s1='python programming'
print(s1.startswith('p'))
print(s1.startswith('k'))

True
False

In [45]:
#endswith()
s1='python'
print(s1.endswith('n'))

True

In [47]:
s1='aadyan nani rajesh nethra gopi nandu'.split()
# To print the names only starts with 'n'
print(s1)
for i in s1:
    if i.startswith('n'):
        print(i,end=" ")

['aadyan', 'nani', 'rajesh', 'nethra', 'gopi', 'nandu']
nani nethra nandu

In [48]:
s1='aadyan nani rajesh nethra gopi nandu'.split()
# To print the names ends with a character is 'i'
for i in s1:
    if i.endswith('i'):
        print(i,end=" ")

nani gopi

In [49]:
# To print the number of digits of a given string..
s1 = input("enter a string: ")
d1 = 0
for i in s1:
    if i.isdigit():
        d1 = d1+1
print('digit count is: ',d1)

enter a string: apssdc@123
digit count is:  3

In [50]:
# To swap the first and last character from astring.
# input: s1='python'
# output: nythop
s1 = 'python'
x=list(s1)
temp=x[0]
x[0]=x[-1]
x[-1]=temp
print("".join(x))

nythop

In [53]:
# To swap the first and last character from astring.
# input: s1='python'
# output: nythop
s1=input("Enter s1 string: ")
print(s1[-1]+s1[1:len(s1)-1]+s1[0])

Enter s1 string: welcome python
nelcome pythow

- 1. TO count the number of alphabets,digits,spaces,special characters of a given string?
- 2. To Remove the first and last character of a given string?
- 3. To read the stirng of names to print only startswith 's' and ends with 'a'?
sample input: 'nethra rajesh aadyan siva narmada aadyan sandhya'
sample output: siva sandhya